@import url("https://googleapis.com");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@400;600;700;800;900&family=Funnel+Display:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+80s+Fade&family=Ruluko&display=swap");

@import "tailwindcss";

.cursive {
	font-size: large;
}

#montFont {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
